.containerPadding{
  padding-left: 80px;
  padding-right: 80px;
}
.header{
  border-bottom: 2px solid #aeadad7a;
}
.nav-item{
  display: flex;
  align-items: center;
}
.signInButton{
  background: #31A867;
  font-family: Gilroy, sans-serif;
}
.nav-link{
  color: #262525 !important;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  padding: 10px 25px!important;
}
.banner{
  padding-top: 130px;
  padding-bottom: 100px;
}
.bannerTitle{
  color: #252F37;
  font-size: 86px;
  font-family: Gilroy, sans-serif;
} 
.bannerSubTitle{
  color: #252F37;
  font-size: 28px;
  font-family: Gilroy, sans-serif;
}
.free-demo-btn{
  height: 85px;
  font-size: 28px;
  padding: 10px 20px !important;
}
.btn-free-contact{
  border: 1px solid green !important;
  color: white !important;
  border-style: none;
  height: 85px;
  width: 40%;
  font-size: 20px;
  /* padding: 10px 20px !important; */
}
.btn-free{
  background-color: green;
  border-style: none;
  color: white;
  width: 60%;
  height: 85px;
  font-size: 20px;
  /* padding: 10px 20px !important; */

}